<?xml version="1.0"?>
<launch>
  <arg name="imsee" default="imsee" />
  <group ns="$(arg imsee)">
    <node name="imsee_wrapper_node" pkg="imsee_ros_wrapper" type="imsee_wrapper_node" output="screen" respawn="true" respawn_delay="10">
      <rosparam file="$(find imsee_ros_wrapper)/config/settings.yaml" command="load" />
    </node>
  </group>
</launch>
